<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">
	<property name="logRoot" value="./logs" />
	<appender name="APPENDER-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8" />
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS}[%-32t][%-5p][%3L][%F][%M] -->  %m%n</Pattern>
		</layout>
	</appender>
	
	<appender name="APPENDER-DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder charset="UTF-8" />
		<file>${logRoot}/default.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logRoot}/default.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS}[%-32t][%-5p][%3L][%F][%M] -->  %m%n</Pattern>
		</layout>
	</appender>

	<appender name="APPENDER-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder charset="UTF-8" />
		<file>${logRoot}/error.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logRoot}/error.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS}[%-32t][%-5p][%3L][%F][%M] -->  %m%n</Pattern>
		</layout>
	</appender>

	<appender name="APPENDER-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder charset="UTF-8" />
		<file>${logRoot}/warn.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logRoot}/warn.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS}[%-32t][%-5p][%3L][%F][%M] -->  %m%n</Pattern>
		</layout>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="APPENDER-CONSOLE" />
		<appender-ref ref="APPENDER-DEFAULT" />
		<appender-ref ref="APPENDER-ERROR" />
		<appender-ref ref="APPENDER-WARN" />
	</root>
</configuration>